.benefits {
    padding-top: 60px;
    padding-bottom: 60px;
        
            @include media(768px) {
                padding-top: 60px;
                padding-bottom: 60px;
            }
        
            @include media(1200px) {
                padding-top: var(--section-indent);
                padding-bottom: var(--section-indent);
            }
}

.benefits-list {
    display: flex;
    // @include center;
    flex-wrap: wrap;
    gap: 30px;
}


.benefits-title {
    @include fonts(700, 14px, 16px, 0.03em);
    @media screen and (min-width:0px) and (max-width:768px){
            text-align: center;
        }
    text-transform: uppercase;
    color: var(--color-title);
    margin-bottom: 10px;
}

.benefits-icon-item {
    
    max-width: 450px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    
    @include center;
        @include media(768px) {
                max-width: 354px;
            }
        
            @include media(1200px) {
                max-width: 270px;
            }
}
.benefits-icon-text {
    max-width: 450px;
    @include fonts(null, 14px, 24px, 0.03em);
        color: var(--color-text);
    @include media(768px) {
            max-width: 354px;
        }
    
        @include media(1200px) {
            max-width: 270px;
        }
}