.footer {
    background-color: #2F303A;
    padding-bottom: 60px;

    &>.container {

            @include media(1200px) {
            display: flex;
            justify-content: space-between;
            
                }
        }
}

.footer__list-all {
    display: block;
            @media screen and (min-width:768px) and (max-width:1199px) {
                display: flex;
                gap: 165px;
                text-align: center;
                justify-content: center;
                }
@media screen and (max-width:1199px) {
    
    text-align: center;
    justify-content: center;
}
        @media screen and (min-width:1200px) {
        display: flex;
        
            }


}

.footer__contakty {
    margin-right: 0px;
    padding-top: 60px;
    @include media(1200px) {
            margin-right: 72px;
        }
    
}
.footer__soc {
    padding-top: 72px;
}
.footer__title {
    @include fonts(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
    @media screen and (max-width:1199px) {
    
         
            text-align: center;
        }
    
}


