.footer {
    background-color: #2F303A;
    padding-bottom: 60px;
    
    
    &>.container {
            display: flex;
                
            justify-content: space-between;


        @media screen and (max-width: 1199px) {
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
            }
        }
}

.footer__list-all {
    // display: flex;
    @media screen and (min-width: 768px) {
            display: flex;
            gap: 165px;
            justify-content: space-between;
            
        }
    @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
        }
}
.footer__item-all {
align-content: center;
    justify-content: center;
    align-items: center;
}
.footer__contakty {
    // margin-right: 70px;
    padding-top: 60px;
    @media screen and (max-width: 1199px) {
            text-align: center;
        }
}
.footer__soc {
    padding-top: 72px;
}
.footer__title {
    @include fonts(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
    @media screen and (max-width: 1199px) {
    text-align: center;
        }
    
}


