.header {
    padding-top: 21px;
    padding-bottom: 21px;
    @media screen and (min-width:1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    }
    border-bottom: 1px solid #ECECEC;
    >.container {
            display: flex;
            align-items: center;
            padding-left: 0;
            }
}

.header__logo {
    margin-right: 87px;
    margin-left: 15px;
        @media screen and (min-width:1200px) {
                margin-right: 93px;
            }
}

.navigation__link,
.contakty__tel,
.contakty__mail {
    @include fonts(500, 14px, 16px, 0.02em);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakty__tel,
.contakty__mail {
    display: none;
    color: #757575;
    @media screen and (min-width:768px) {
    display: flex;
    margin-right: 15px;
    margin-left: 70px;
    }
}

.navigation__link {
    color: #212121;
}

.navigation__link:hover,
.navigation__link:focus,
.contakty__mail:hover,
.contakty__mail:focus,
.contakty__tel:hover,
.contakty__tel:focus {
    color: var(--color-aktive);
}

.contakty__tel {
    @media screen and (min-width:1200px) {
    margin-left: 50px;
    }
}

.navigation__list {
    display: none;
    @media screen and (min-width:768px) {
    display: flex;
    gap: 50px;
    }
}

.header__contakty {
    margin-left: auto;
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        }
    }                  

.contakty__icon {
    margin-right: 10px;
    
    fill: currentColor;
}

